name: CI

on: [push, pull_request]

jobs:
  dsl_ci:
    runs-on: ubuntu-latest
    name: Diff for DSL code
    steps:
      - name: Checkout
        uses: actions/checkout@v2
         with:
          fetch-depth: 0
     - name: Idenfify files changed in this PR
        id: files
        run: |
            git diff --name-only origin/${{ github.base_ref }}...origin/${{ github.head_ref }}
            echo "::set-output name=changed-files::$(git diff --name-only origin/${{ github.base_ref }}...origin/${{ github.head_ref }}| tr '\n' ' ')"
      - name: Run testing on changed config files
        id: dsl_check
        run: |
          for changed_file in ${{ steps.files.outputs.changed-files }}; do
            if [[ ${changed_file} != ${changed_file/dsl\/*} ]]; then
              echo "+ Detected at leat one config file: ${changed_file}."
              echo "::set-output name=run_job::true"
              break
            else
              echo "::set-output name=run_job::false"
            fi
          done
      - name: Checkout
        if: needs.dsl_check.outputs.run_job == 'true'
        uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - uses: actions/setup-java@v3
        if: needs.dsl_check.outputs.run_job == 'true'
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Download jod dsl jar
        if: needs.dsl_check.outputs.run_job == 'true'
        run: curl https://repo.jenkins-ci.org/public/org/jenkins-ci/plugins/job-dsl-core/1.77/job-dsl-core-1.77-standalone.jar -O jobdsl.jar
      - name: Generate all DSL files
        if: needs.dsl_check.outputs.run_job == 'true'
        run: java -jar jobdsl.jar dsl/*.dsl
